<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head">&nbsp;</head>
<body>
<div th:include="fragments/header :: menu">&nbsp;</div>
<br/>
<div class="container">
    <form action="#" id="search-form"
          th:object="${keyword}"
          th:method="post"
          th:action="@{${#httpServletRequest.servletPath}}">
        <div class="row">
                        <div class="input-field col s7">
                            <i class="material-icons prefix">search</i>
                            <input name="keyword" id="keyword" type="search" required="required" th:attr="value=${keyword}"/>
                            <label for="keyword"></label>
                        </div>
                        <div class="input-field col s1">&nbsp;</div>
                        <div class="input-field col s3">
                            <button class="btn-flat teal lighten-5 btn" type="submit">SEARCH</button>
                        </div>
        </div>
    </form>
    <div class="row" th:unless="${#lists.isEmpty(persons)}">
        <table class="responsive-table table-bordered striped col s10">
            <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Middle Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${persons}">
                <td>&nbsp;</td>
                <td th:text="${person.id}">&nbsp;</td>
                <td th:text="${person.firstName}">&nbsp;</td>
                <td th:text="${person.lastName}">&nbsp;</td>
                <td th:text="${person.middleName}">&nbsp;</td>
                <td th:text="${person.phone}">&nbsp;</td>
                <td th:text="${person.email}">&nbsp;</td>
                <td>
                    <a class="btn-flat teal lighten-5 btn"
                       th:href="@{/persons/{id}(id=${person.id})}">DETAILS</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
