<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" media="screen"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"
          th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}" rel="stylesheet" media="screen"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"
          th:href="@{/webjars/materialize/0.97.6/dist/js/materialize.min.js}" rel="script"/>
</head>

<body>
<script src="webjars/materialize/0.97.6/dist/js/materialize.min.js"></script>

<div th:include="fragments/header :: header">&nbsp;</div>

<br/>
<div class="container">
    <div class="row">
                <form action="#" id="search-form"
                                            th:object="${term}"
                                            th:method="post"
                                            th:action="@{${#httpServletRequest.servletPath}}">
                    <div class="input-field col s10">
                        <input name="term" id="term" type="search" required="required" th:attr="value=${term}"/>
                        <label for="term"><i class="material-icons">search</i></label>
                    </div>
                    <div class="input-field col s2">
                        <button class="btn-floating grey" type="submit"><i class="material-icons">label_outline</i></button>
                    </div>
                </form>
    </div>
    <div class="row">
        <table class="table table-bordered striped">
            <thead>
            <tr>
                <th></th>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Middle Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Address</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="person : ${persons}">
                <td>&nbsp;</td>
                <td th:text="${person.id}">&nbsp;</td>
                <td th:text="${person.firstName}">&nbsp;</td>
                <td th:text="${person.lastName}">&nbsp;</td>
                <td th:text="${person.middleName}">&nbsp;</td>
                <td th:text="${person.phone}">&nbsp;</td>
                <td th:text="${person.email}">&nbsp;</td>
                <td th:text="${person.address}"></td>
                <td>
                    <a class="btn-flat teal lighten-5 btn"
                       th:href="@{/persons/{id}/edit(id=${person.id})}">EDIT</a>
                    <a class="btn-flat red lighten-5 black-text btn"
                       th:href="@{/persons/{id}/delete(id=${person.id})}">DELETE</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
