<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: head">&nbsp;</head>
<body>
<div th:include="fragments/header :: menu">&nbsp;</div>
<table class="responsive-table table-bordered striped">
        <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Middle Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${persons}">
            <td>&nbsp;</td>
            <td th:text="${person.id}">&nbsp;</td>
            <td th:text="${person.firstName}">&nbsp;</td>
            <td th:text="${person.lastName}">&nbsp;</td>
            <td th:text="${person.middleName}">&nbsp;</td>
            <td th:text="${person.phone}">&nbsp;</td>
            <td th:text="${person.email}">&nbsp;</td>
            <td>
                <div class="container" th:if="${person.address != null}" th:text="${person.address.city} + ', '
                    + ${person.address.region} + ', '
                    + ${person.address.house} + ' '
                    + ${person.address.street} + ' st., app.'
                    + ${person.address.flat}">City, Region, 1 Street, app.2
                </div>
                <div class="container" th:if="${person.address eq null}">
                    Address Is Not Specified
                </div>
            </td>
            <td>
                <a class="btn-flat teal lighten-5 btn"
                   th:href="@{/persons/{id}(id=${person.id})}">DETAILS</a>
            </td>
        </tr>
        </tbody>
</table>
</body>
</html>
