<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"
          type="text/css" rel="stylesheet" media="screen,projection"
          th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"
            th:href="@{/webjars/materialize/0.97.6/dist/js/materialize.min.js}"></script>
</head>

<body>

<div th:include="fragments/header :: header">&nbsp;</div>

<div class="row">
    <br/>
    <form action="#" class="col s6" id="view-person-form" th:object="${person}">
        <div class="row">
            <div class="input-field col s12">
                <input type="hidden" id="id" th:field="*{id}" />
                <label class="active" for="first_name">First Name</label>
                <input disabled="disabled" id="first_name" type="text" class="grey-text text-darken-3" th:field="*{firstName}" />
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled="disabled" id="last_name" type="text" class="grey-text text-darken-3" th:field="*{lastName}" />
                <label class="active" for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled="disabled" id="middle_name" type="text" class="grey-text text-darken-3" th:field="*{middleName}" />
                <label class="active" for="middle_name">Middle Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled="disabled" id="phone" type="text" class="grey-text text-darken-3" th:field="*{phone}" />
                <label class="active" for="phone">Phone</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled="disabled" id="email" type="text" class="grey-text text-darken-3" th:field="*{email}" />
                <label class="active" for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input disabled="disabled" id="birthday" type="text" class="grey-text text-darken-3" th:field="*{birthday}" />
                <label class="active" for="birthday">Birthday</label>
            </div>
        </div>
    </form>
    <div class="col s6">
        <div class="card blue-grey lighten-5" th:if="${person.address} != null">
            <div class="card-content grey-text">
                <span class="card-title">Address</span>
                <p>City: <span th:text="${person.address.city}"></span></p>
                <p>Region: <span th:text="${person.address.region}"></span></p>
                <p>Street: <span th:text="${person.address.street}"></span></p>
                <p>House: <span th:text="${person.address.house}"></span></p>
                <p>Apartment: <span th:text="${person.address.flat}"></span></p>
            </div>
            <div class="card-action">
                <a href="#" th:href="@{/addresses/{id}/edit(id=${person.address.id})}">Edit</a>
                <a href="#" th:href="@{/addresses/{aid}/delete(aid=${person.address.id})}">Delete</a>
            </div>
        </div>
        <div class="card blue-grey lighten-5" th:unless="${person.address} != null">
            <div class="card-content grey-text">
                <span class="card-title">Address</span>
                <p>Address Is Empty</p>
            </div>
            <div class="card-action">
                <a href="#" th:href="@{/addresses/{id}/new(id=${person.id})}">Add Address</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
