<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: head">&nbsp;</head>
<body>

<div th:include="fragments/header :: menu">&nbsp;</div>

<table class="table table-bordered striped">
        <thead>
        <tr>
            <th></th>
            <th>ID</th>
            <th>City</th>
            <th>Region</th>
            <th>Street</th>
            <th>House</th>
            <th>Flat</th>
            <th>Person</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="address : ${addresses}">
            <td>&nbsp;</td>
            <td th:text="${address.id}">&nbsp;</td>
            <td th:text="${address.city}">&nbsp;</td>
            <td th:text="${address.region}">&nbsp;</td>
            <td th:text="${address.street}">&nbsp;</td>
            <td th:text="${address.house}">&nbsp;</td>
            <td th:text="${address.flat}">&nbsp;</td>
            <td th:if="${address.person} == null">No Person Specified</td>
            <td th:if="${address.person} != null" th:text="${address.person.firstName} + ' ' + ${address.person.lastName} + ' ' + ${address.person.middleName}|">&nbsp;</td>
            <td>
                <a class="btn-flat teal lighten-5 btn" th:href="@{/addresses/{id}/edit(id=${address.id})}">EDIT</a>
            </td>
        </tr>
        </tbody>
</table>
</body>
</html>
