<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"
          type="text/css" rel="stylesheet" media="screen,projection"
          th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"
            th:href="@{/webjars/materialize/0.97.6/dist/js/materialize.min.js}"></script>
</head>

<body>

<div th:include="fragments/header :: header">&nbsp;</div>

<table>
    <thead>
        <tr>
            <th th:if="${address.id} eq 0">&nbsp;&nbsp;New Address</th>
            <th th:unless="${address.id} eq 0">&nbsp;&nbsp;Edit Address</th>
        </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <div class="row">
                <form action="#" class="col s12" id="update-address-form"
                      th:object="${address}"
                      th:method="${address.id} eq 0 ? post : put"
                      th:action="@{${#httpServletRequest.servletPath}}">

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="address.id" type="hidden" th:field="${address.id}"/>
                            <input id="city" type="text" class="validate" length="30" th:field="*{city}"/>
                            <label class="active" for="city">City</label>
                        </div>
                    <!--</div>-->
                    <!--<div class="row">-->
                        <div class="input-field col s6">
                            <input id="region" type="text" class="validate" length="30" th:field="*{region}"/>
                            <label class="active" for="region">Region</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="street" type="text" class="validate" length="30" th:field="*{street}"/>
                            <label class="active" for="street">Street</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="house" type="text" class="validate" length="5" th:field="*{house}"/>
                            <label class="active" for="house">House</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6"></div>
                        <div class="input-field col s6">
                            <input id="flat" type="text" class="validate" length="5" th:field="*{flat}"/>
                            <label class="active" for="flat">Flat</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <button class="btn-flat teal lighten-5 btn" type="submit" value="Submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
