<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: head">&nbsp;</head>
<body>
<div th:include="fragments/header :: menu">&nbsp;</div>

<table>
    <thead>
        <tr>
            <th th:if="${address.id} eq 0">&nbsp;&nbsp;New Address</th>
            <th th:unless="${address.id} eq 0">&nbsp;&nbsp;Edit Address</th>
        </tr>
    </thead>

    <tbody>
    <tr>
        <td>
            <div class="row">
                <form action="#" class="col s12" id="update-address-form"
                      th:object="${address}"
                      th:method="${address.id} eq 0 ? post : put"
                      th:action="@{${#httpServletRequest.servletPath}}">

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="address.id" type="hidden" th:field="${address.id}"/>
                            <input id="city" type="text" length="30" th:field="*{city}"/>
                            <label class="active" for="city"><span class="red-text">* </span>City</label>
                            <span style="font-size: x-small; color: red" th:if="${#fields.hasErrors('city')}"
                                  th:errors="*{city}">error</span>
                        </div>
                        <div class="input-field col s6">
                            <input id="region" type="text" length="30" th:field="*{region}"/>
                            <label class="active" for="region"><span class="red-text">* </span>Region</label>
                            <span style="font-size: x-small; color: red" th:if="${#fields.hasErrors('region')}"
                                  th:errors="*{region}">error</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="street" type="text" length="30" th:field="*{street}"/>
                            <label class="active" for="street"><span class="red-text">* </span>Street</label>
                            <span style="font-size: x-small; color: red" th:if="${#fields.hasErrors('street')}"
                                  th:errors="*{street}">error</span>
                        </div>
                        <div class="input-field col s6">
                            <input id="house" type="text" th:field="*{house}"/>
                            <label class="active" for="house">House</label>
                            <span style="font-size: x-small; color: red" th:if="${#fields.hasErrors('house')}"
                                  th:errors="*{house}">error</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6"></div>
                        <div class="input-field col s6">
                            <input id="flat" type="text" th:field="*{flat}"/>
                            <label class="active" for="flat">Flat</label>
                            <span style="font-size: x-small; color: red" th:if="${#fields.hasErrors('flat')}"
                                  th:errors="*{flat}">error</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s6">
                            <button class="btn-flat teal lighten-5 btn" type="submit" value="Submit">Save</button>
                            <a th:if="${address.id} != 0"
                               class="btn-flat red lighten-5 black-text btn modal-trigger"
                               href="#modal_address_delete">DELETE</a>
                        </div>
                    </div>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div id="modal_address_delete" class="modal">
    <div class="modal-content">
        <h4>Delete address</h4>
        <p>A you sure?</p>
    </div>
    <div class="modal-footer">
        <a th:href="@{/addresses/{id}/delete(id=${address.id})}"
           href="#!" class="modal-action modal-close btn-flat red-text">DELETE</a>
        <a href="#!" class="modal-action modal-close btn-flat">CANCEL</a>
    </div>
</div>
</body>
</html>
