<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"
          type="text/css" rel="stylesheet" media="screen,projection"
          th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"
            th:href="@{/webjars/materialize/0.97.6/dist/js/materialize.min.js}"></script>
</head>
<body>

<div th:include="fragments/header :: header">&nbsp;</div>
<h5 th:text="${exception}">exception</h5>
</body>
</html>
