<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/webjars/materialize/0.97.6/dist/css/materialize.min.css"
          th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}" rel="stylesheet" media="screen"/>
    <link href="/webjars/materialize/0.97.6/dist/js/materialize.min.js"
          th:href="@{/webjars/materialize/0.97.6/dist/js/materialize.min.js}" rel="script"/>
</head>

<body>
<script src="webjars/materialize/0.97.6/dist/js/materialize.min.js"></script>

<div th:include="fragments/header :: header">&nbsp;</div>

<table class="striped">
    <thead>
    <tr>
        <th>Id</th>
        <th>Person</th>
        <th>City</th>
        <th>Region</th>
        <th>Street</th>
        <th>House</th>
        <th>Flat</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="address : ${addresses}">
            <td th:text="${address.id}">&nbsp;</td>
            <td>
                <a href="/person"
                   th:href="@{/person(id=${address.person.id})}"
                   th:text="${address.person.surname} + ' ' + ${address.person.name}">
                </a>
            </td>
            <td th:text="${address.city}">&nbsp;</td>
            <td th:text="${address.region}">&nbsp;</td>
            <td th:text="${address.street}">&nbsp;</td>
            <td th:text="${address.house}">&nbsp;</td>
            <td th:text="${address.flat}">&nbsp;</td>
            <td><a class="btn-flat teal lighten-5 btn">EDIT</a>
                <a class="btn-flat red lighten-5 black-text btn">DELETE</a>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>
