<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/webjars/materialize/0.97.6/dist/css/materialize.min.css"
          th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}" rel="stylesheet" media="screen"/>
    <link href="/webjars/materialize/0.97.6/dist/js/materialize.js"
          th:href="@{/webjars/materialize/0.97.6/dist/js/materialize.js}" rel="script"/>
</head>

<body style="margin: 20px 20px 20px 20px;">
<script src="webjars/materialize/0.97.6/dist/js/materialize.js"></script>

<a class="waves-effect waves-light cyan darken-3 black-text">button</a>

<table class="striped">
    <thead>
    <tr>
        <th data-field="id">Id</th>
        <th data-field="city">City</th>
        <th data-field="region">Region</th>
        <th data-field="street">Street</th>
        <th data-field="house">House</th>
        <th data-field="flat">Flat</th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="address : ${addresses}">
            <td th:text="${address.id}">&nbsp;</td>
            <td th:text="${address.city}">&nbsp;</td>
            <td th:text="${address.region}">&nbsp;</td>
            <td th:text="${address.street}">&nbsp;</td>
            <td th:text="${address.house}">&nbsp;</td>
            <td th:text="${address.flat}">&nbsp;</td>
            <td>Address</td>
            <td></td>
        </tr>
    </tbody>
</table>

</body>
</html>
