<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/header :: head">&nbsp;</head>
<body>
<div th:include="fragments/header :: menu">&nbsp;</div>
<p>&nbsp;</p>
<div class="row">
    <div class="col s4">
        <div class="center promo promo-example">
            <a class="promo-caption cyan-text text-lighten-3" href="/persons/new/"
                   th:href="@{/persons/new/}">
                <i class="large material-icons #ffebee-text">perm_identity</i>
                <h5>Add New Person</h5>
            </a>
            <p class="light center">Here you can add a new person and only then add the address.</p>
        </div>
    </div>
    <div class="col s4">
        <div class="center promo promo-example">
            <a class="promo-caption light-green-text text-lighten-2" href="/addresses/new/"
               th:href="@{/addresses/}">
                <i class="large material-icons">business</i>
                <h5>Addresses</h5>
            </a>
            <p class="light center">Here you can view a list of all addresses.</p>
        </div>
    </div>
    <div class="col s4">
        <div class="center promo promo-example">
            <a class="promo-caption red-text text-lighten-2" href="/search"
               th:href="@{/search/}">
                <i class="large material-icons red-text text-lighten-2">search</i>
                <h5>Search</h5>
            </a>
            <p class="light center">Search can be performed by name, surname, phone, city, region, or street.</p>
        </div>
    </div>

</div>

</body>
</html>
