<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/webjars/materialize/0.97.6/dist/css/materialize.min.css"
          th:href="@{/webjars/materialize/0.97.6/dist/css/materialize.min.css}" rel="stylesheet" media="screen"/>
    <link href="/webjars/materialize/0.97.6/dist/js/materialize.min.js"
          th:href="@{/webjars/materialize/0.97.6/dist/js/materialize.min.js}" rel="script"/>
</head>

<body>
<script src="webjars/materialize/0.97.6/dist/js/materialize.min.js"></script>

<div th:include="fragments/header :: header">&nbsp;</div>

<table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Address</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person : ${persons}">
            <td th:text="${person.id}">&nbsp;</td>
            <td th:text="${person.name}">&nbsp;</td>
            <td th:text="${person.surname}">&nbsp;</td>
            <td th:text="${person.phone}">&nbsp;</td>
            <td th:text="${person.email}">&nbsp;</td>
            <td>Address</td>
            <td>
                <a class="btn-flat teal lighten-5 btn">EDIT</a>
                <a class="btn-flat red lighten-5 black-text btn">DELETE</a>
            </td>
        </tr>
        </tbody>
</table>
</body>
</html>
