<div th:fragment="header">
    <nav>
        <div class="nav-wrapper cyan darken-2">
            <a href="/" th:href="@{/}" class="brand-logo right">Address Book </a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li th:classappend="(${#strings.containsIgnoreCase(#httpServletRequest.requestURI, '/persons')})
                ? 'active' : ''">
                    <a href="/persons/" th:href="@{/persons/}">Persons</a></li>
                <li th:classappend="(${#strings.containsIgnoreCase(#httpServletRequest.requestURI, '/addresses')})
                ? 'active' : ''">
                    <a href="/addresses/" th:href="@{/addresses/}">Addresses</a></li>
                <li th:classappend="(${#strings.containsIgnoreCase(#httpServletRequest.requestURI, '/search')})
                ? 'active' : ''">
                    <a href="/search/" th:href="@{/search/}">Search</a></li>
                <li th:if="(${#strings.containsIgnoreCase(#httpServletRequest.requestURI, '/persons')})">
                    <a class="btn-flat teal lighten-5 btn" href="/persons/new" th:href="@{/persons/new}">Add person</a></li>
            </ul>
        </div>
    </nav>
</div>
